#top h1 {
    border-bottom: 1px solid #ccc;
    color: #37444d;
    font-family: GoodWeb-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 37px;
    font-weight: normal;
}

.col:after, .clearfix:after, .container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navlist {
    margin: 0 auto;
}

.col, .clearfix, .container {
    display: block;
}

ol, ul {
    list-style: outside none none;
}

.navlist li:first-child {
    border-left: medium none;
}

.navlist li {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    float: left;
    line-height: 16px;
    margin: 10px 0;
    padding: 0 10px;
}

.account-info #top a {
    font-size: 13px;
    text-transform: uppercase;
}

.navlist li.active a {
    color: #000;
}

.navlist li a {
    color: #999;
    font-family: GoodWeb-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
}

.account-info a {
    color: #404051;
    text-transform: capitalize;
}

a {
    color: #36b4a7;
    text-decoration: none;
}

.list-form {
    padding-top: 25px;
    width: 620px;
}

.list-form label {
    color: #404051;
    float: left;
    font-size: 16px;
    height: 40px;
    margin-right: 20px;
    padding-top: 25px;
    text-align: right;
    text-transform: uppercase;
    width: 150px;
    font-family: GoodWeb-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.list-form .entry {
    border-bottom: 1px solid #eee;
    float: left;
    height: 34px;
    padding: 15px 0;
    position: relative;
    width: 410px;
}


.warning-cont {
    float: left;
    position: relative;
}

input.long {
    width: 246px;
}