body {
	background: none repeat scroll 0 0 #fff;
	margin: 0 auto;
}

#header {
/* 	height: 50px; */
	
	display: block;
	padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 7px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    background: none repeat scroll 0 0 #5AA39F;
    position: fixed;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
}

.logoLink {
	color: #fff;
	font-size: 30px;
	padding: 0 8px;
	font-family: GoodWeb-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
}

#searchBox {
	overflow: hidden;
	margin: 0 auto;
}

.searchInput {
	width: 80%;
	
}

#search-button{
	width: 38px;
	height: 31px;
	margin-top: 3px;
	
	border: 1px solid #5AA39F;
	border-radius: 4px;
}

#logo-img {
	width: 160px;
}

.anchors {
	padding: 8px 8px;
	display: inline-block;
	float: right;
}

.signup-button{
	color: #fff;
	font-size: 17px;
	/* position: relative; */
	padding: 0 8px;
	font-family: GoodWeb-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
}

.bullet {
	font-size: 8px;
	color: #fff;
	position: relative;
	top: -3px;
}


h1,h2,h3 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}

