.editBasicTab {
    margin: 25px;
    min-height: 305px;
    position: relative;
    
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.sc-clearfix:before, .sc-clearfix:after {
    content: "";
    display: table;
}
.sc-clearfix:after {
    clear: both;
}
.sc-clearfix:before, .sc-clearfix:after {
    content: "";
    display: table;
}
.baseFields {
    padding-left: 315px;
    position: relative;
}

.sc-border-box {
    box-sizing: border-box;
}

.textfield {
    margin: 10px 0;
    position: relative;
}

.g-required-label:after {
    color: #f50;
    content: "*";
    display: inline-block;
    margin-left: 2px;
}
.textfield__label {
    display: inline-block;
    margin-bottom: 6px;
}

.textfield__inputWrapper {
    position: relative;
}

textarea, select, input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="password"], input[type="search"] {
    box-sizing: border-box;
}
.textfield__input {
    position: relative;
/*     width: 100%; */
    z-index: 1;
}
.sc-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    padding: 2px 7px;
    transition: border-color 0.1s ease 0s;
}
textarea, select, input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
}
textarea, select, button, input {
    color: #333;
    font-family: inherit;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.textfield.messageOutside .g-input-message {
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    bottom: 100%;
}
.textfield .g-input-message {
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
.g-input-message.g-input-message-hidden {
    transform: scale(1.2, 0);
    visibility: hidden;
}
.g-input-message.info {
    background-color: #333;
}
.g-input-message {
    background-color: #f50;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    transform: scale(1, 1);
    transition: transform 0.07s ease 0.1s;
    visibility: visible;
}


.link-correction {
	top: -8px;
	left: 10px;
	width: 32%;
}

/* Image */


.baseFields__image {
    left: 0;
    position: absolute;
    top: 0;
}

.image.interactive {
    cursor: pointer;
}
.image__full, .image {
    position: relative;
    text-align: center;
    
    height: 300px;
    width: 300px;
}

.sc-artwork.sc-artwork-placeholder-0 {
    background-image: linear-gradient(135deg, #846170, #70929c);
}
.image__full, .image {
    position: relative;
    text-align: center;
}
img, svg, .sc-artwork {
    display: block;
}
.sc-artwork {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
}